#heading1 {
    text-align: center;
}

#xIsWhatPercentOfY {
    text-align: center;
    text-shadow: 10em;
    background-color: aquamarine;
}

#resultField {
    text-align: center;
    color: blue;
}